.temp{
    height: 150px;
    width: 200px;
    background-color: black;
    margin: auto;
    
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.temp2{
    font-size: 120px;
    color: beige;
    
}
.container{
    position:relative;
 margin-top: 40px;
    background-color: rgba(250, 235, 215, 0.589);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 30px;
}
#b{
    width: 150px;
    height: 100px;
    background-color: black;
    border-radius: 20px;
    margin:auto;
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 5px;
    margin-bottom: 20px;
}
.location{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}
p{
    color: blanchedalmond;
   
    padding: 15px;
}
input{
    width: 50%;
}
img {
   width: 100%;
    object-fit: contain;
  }
  body{
    background-image: url(./image/noaa-ZVhm6rEKEX8-unsplash.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;   
  }
